<h2>All our Animals</h2>
<p> <a class="adopt" href="/animals/show_adoptable"> Ready to adopt </a> </p>
<p> <a class="adopt" href="/animals/show_in_care"> Still in care </a> </p>

<hr>


<div class="position">
<% for animal in @animals %>
  <p>Name: <%= animal.name() %></p>
  <p>Type: <%= animal.type() %></p>
  <p> <img class="shelter-animals" src="<%= animal.url%>" alt="picture of the animal">  </p>
  <p>Admission Date: <%=animal.admission_date  %>  </p>
  <p>Adoptable: <%= animal.adoptable %></p>
  <p>Adopted: <%= animal.adopted %></p>


<div class="buttons">
  <form method="get" action="/animals/<%= animal.id %>">
    <input type="submit" value="View animal">
  </form>
  <form method="get" action="/animals/<%= animal.id %>/edit">
    <input type="submit" value="Edit animal">
  </form>
  <form action="/animals/<%= animal.id %>/delete" method="post">
    <input type="submit" value="Delete animal">
  </form>
</div>
  <hr />
<%end  %>
</div>
